.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

nz-card {
  width: 100%;
  margin: 40px;
  max-width: 900px;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  margin: 0;
}

.card-info {
  display: flex;
  column-gap: 20px;
}
