<div class="content">
  <form class="client-form">
    <div class="col-3">
      <app-select-custom [options]="options" labelText="Tipo de Cliente"></app-select-custom>
    </div>
    <div class="col-3">
      <app-field-custom type="text" id="document" name="document" placeholder="Digite o documento do cliente" labelText="CPF ou CNPJ" class="input-default"></app-field-custom>
    </div>
    <div class="col-12">
      <app-field-custom type="text" id="fullname" name="fullname" placeholder="Digite o nome do cliente" labelText="Nome Completo" class="input-default"></app-field-custom>
    </div>
  </form>
</div>
