.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

.content {
  width: 100%;
  height: 100%;
  padding: 40px;
}

nz-list {
  height: 600px;
}

nz-list-item {
  padding: 20px;
  background: #fff;
}

nz-tag {
  min-width: 100px;
  text-align: center;
}

#tag {
  margin: 0 20px 0 0;
}

#tagSec {
  min-width: 150px;
}

nz-range-picker {
  margin: 0 8px 12px 0;
}

.registers {
  height: 50px;
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
}

.registers p {
  line-height: 100%;
}
.block {
  margin: 0 0 50px 0;
}
