.demo-loadmore-list {
  min-height: 350px;
}

.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}

.content {
  width: 100%;
  height: 100%;
  padding: 40px;
}

nz-list {
  width: 100%;
  max-height: 520px;
  overflow-y: auto;
  overflow-x: auto;
}

nz-list-item {
  padding: 20px;
  background: #fff;
}

nz-tag {
  min-width: 100px;
  text-align: center;
}

#tag {
  margin: 0 20px 0 0;
}

#tagSec {
  min-width: 150px;
}

nz-range-picker {
  margin: 0 8px 12px 0;
}

.registers {
  height: 50px;
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
}

.registers p {
  line-height: 100%;
}
.block {
  margin: 0 0 50px 0;
}

.ticket-finish {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #fff;
}

nz-form-item {
  flex-direction: column;
  align-items: flex-start;
}

nz-form-control {
  width: 100%;
}

#itemTitle {
  font-weight: 700;
}

#itemSubTitle {
  font-weight: 400;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-button {
  width: 45px;
  height: 45px;
  border-radius: 0px;
  border: none;
  transition: .25s ease-in;
  background: var(--secondary);
  color: #fff;
  font-size: 20px;
}

.filter-button:hover {
  cursor: pointer;
  background: var(--terciary);
  color: #fff;
}

.content-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-filter button {
  width: 100%;
}

nz-range-picker {
  width: 100%;
}
