<div class="content">
  <div class="row">
    <h2>Gerenciamento de Chamados</h2>
  </div>

  <div class="table-header">
    <button class="btn btn-secondary" routerLink="add">Adicionar</button>
    <button
      class="filter-button"
      (click)="open()"
    >
      <i nz-icon nzType="filter" nzTheme="fill"></i>
    </button>
  </div>

  <nz-list class="demo-loadmore-list" [nzLoading]="initLoading">
    <nz-list-item *ngFor="let data of tickets">
      <ng-container>
        <nz-list-item-meta nzAvatar="./assets/icon/ticket.svg">
          <nz-list-item-meta-title>
            <a
              (click)="showModalViewTicket(data)"
              id="itemTitle"
              class="uppercase"
              >{{ data.subject }}</a
            >
          </nz-list-item-meta-title>
          <nz-list-item-meta-title id="client">
            <span id="itemSubTitle">{{ data.client.nickname }}</span>
          </nz-list-item-meta-title>
          <nz-list-item-meta-title>
            <span id="itemSubTitle"
              >Responsável: <strong>{{ data.user.fullname }}</strong></span
            >
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        <nz-tag nzColor="default" id="tagSec">{{
          data.sector.description
        }}</nz-tag>
        <nz-tag nzColor="default">{{ data.openingDate }}</nz-tag>
        <nz-tag nzColor="default" *ngIf="data.status == 3">{{
          data.closingDate
        }}</nz-tag>
        <nz-tag nzColor="warning" *ngIf="data.status == 1">Aberto</nz-tag>
        <nz-tag nzColor="processing" *ngIf="data.status == 2"
          >Processando</nz-tag
        >
        <nz-tag nzColor="success" *ngIf="data.status == 3">Finalizado</nz-tag>
        <nz-tag nzColor="error" *ngIf="data.status == 4">Cancelado</nz-tag>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              [disabled]="
                data.user.id != userId || data.status == 3 || data.status == 4
              "
              nzTooltipTitle="Finalizar"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="showModal(data)"
            >
              <i nz-icon nzType="check"></i>
            </button>
          </nz-list-item-action>
          <nz-list-item-action>
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              [disabled]="
                data.user.id != userId || data.status == 3 || data.status == 4
              "
              nzTooltipTitle="Transferir"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="showModalTransfer(data)"
            >
              <i nz-icon nzType="sync"></i>
            </button>
          </nz-list-item-action>

          <nz-list-item-action>
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              nzTooltipTitle="Editar"
              nzTooltipPlacement="top"
              nz-tooltip
              *ngIf="userProfile == 1"
              (click)="onEdit(data.id)"
            >
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-action>
        </ul>
      </ng-container>
    </nz-list-item>
  </nz-list>

  <div class="pagination">
    <div class="registers">
      <p>
        Total de registros: <strong>{{ total }}</strong>
      </p>
    </div>
    <nz-pagination
      [nzPageIndex]="page"
      [nzTotal]="totalPages"
      [nzPageSize]="size"
      nzSimple
      (nzPageIndexChange)="paginate($event)"
      [nzDisabled]="paginationDisable"
    ></nz-pagination>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Finalizar Chamado"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  nzWidth="900px"
>
  <div *nzModalContent>
    <nz-descriptions nzLayout="horizontal">
      <nz-descriptions-item [nzTitle]="docTitle" [nzSpan]="3">
        <strong>{{ ticket.client.document | cpfOuCnpj }}</strong>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="fullnameTitle" [nzSpan]="2"
        ><strong>{{ ticket.client.fullname }}</strong></nz-descriptions-item
      >
      <nz-descriptions-item [nzTitle]="nicknameTitle" [nzSpan]="1">{{
        ticket.client.nickname
      }}</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions nzLayout="horizontal">
      <nz-descriptions-item [nzTitle]="'Abertura'" [nzSpan]="1">
        {{ ticket.openingDate }}
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Setor'" [nzSpan]="1">
        {{ ticket.sector.description }}
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Status'" [nzSpan]="1">
        <nz-tag nzColor="warning" *ngIf="ticket.status == 1">Aberto</nz-tag>
        <nz-tag nzColor="processing" *ngIf="ticket.status == 2"
          >Processando</nz-tag
        >
        <nz-tag nzColor="success" *ngIf="ticket.status == 3">Finalizado</nz-tag>
        <nz-tag nzColor="error" *ngIf="ticket.status == 4">Cancelado</nz-tag>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Responsável'" [nzSpan]="1">{{
        ticket.user.fullname
      }}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Aberto por'" [nzSpan]="1">{{
        ticket.openBy
      }}</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions nzLayout="horizontal">
      <nz-descriptions-item [nzTitle]="'Assunto'" [nzSpan]="3"
        ><strong>{{ ticket.subject }}</strong></nz-descriptions-item
      >
      <nz-descriptions-item [nzTitle]="'Descrição'" [nzSpan]="3"
        ><strong>{{ ticket.description }}</strong></nz-descriptions-item
      >
    </nz-descriptions>
    <div class="ticket-finish">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="finishForm">
            <nz-form-item>
              <nz-form-label nzFor="description">Relato Técnico</nz-form-label>
              <nz-form-control nzCompact nzHasFeedback>
                <textarea
                  rows="6"
                  nz-input
                  id="description"
                  formControlName="technicalReporter"
                  required
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Voltar</button>
    <button
      nz-button
      nzType="primary"
      (click)="onFinishTicket(ticket)"
      [disabled]="!finishForm.valid"
    >
      Finalizar
    </button>
  </div>
</nz-modal>

<!-- Modal de Visualização -->
<nz-modal
  [(nzVisible)]="isVisibleShowTicket"
  nzTitle="Visualizar Chamado"
  (nzOnCancel)="handleCancelViewTicket()"
  [nzOkLoading]="isOkLoading"
  nzWidth="900px"
>
  <div *nzModalContent>
    <nz-descriptions nzLayout="horizontal">
      <nz-descriptions-item [nzTitle]="docTitle" [nzSpan]="2">
        <strong>{{ ticket.client.document | cpfOuCnpj }}</strong>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Tipo'" [nzSpan]="1">
        <strong *ngIf="ticket.typeService == 1">Interno</strong>
        <strong *ngIf="ticket.typeService == 2">Externo</strong>
        <strong *ngIf="ticket.typeService == 3">Remoto</strong>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="fullnameTitle" [nzSpan]="2"
        ><strong>{{ ticket.client.fullname }}</strong></nz-descriptions-item
      >
      <nz-descriptions-item [nzTitle]="nicknameTitle" [nzSpan]="1">{{
        ticket.client.nickname
      }}</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions nzLayout="horizontal">
      <nz-descriptions-item [nzTitle]="'Abertura'" [nzSpan]="1">
        {{ ticket.openingDate }}
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Setor'" [nzSpan]="1">
        {{ ticket.sector.description }}
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Status'" [nzSpan]="1">
        <nz-tag nzColor="warning" *ngIf="ticket.status == 1">Aberto</nz-tag>
        <nz-tag nzColor="processing" *ngIf="ticket.status == 2"
          >Processando</nz-tag
        >
        <nz-tag nzColor="success" *ngIf="ticket.status == 3">Finalizado</nz-tag>
        <nz-tag nzColor="error" *ngIf="ticket.status == 4">Cancelado</nz-tag>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Responsável'" [nzSpan]="1">{{
        ticket.user.fullname
      }}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Aberto por'" [nzSpan]="1">{{
        ticket.openBy
      }}</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions nzLayout="horizontal">
      <nz-descriptions-item [nzTitle]="'Assunto'" [nzSpan]="3"
        ><strong>{{ ticket.subject }}</strong></nz-descriptions-item
      >
      <nz-descriptions-item [nzTitle]="'Descrição'" [nzSpan]="3"
        ><strong>{{ ticket.description }}</strong></nz-descriptions-item
      >
    </nz-descriptions>
    <nz-divider *ngIf="ticket.status == 3"></nz-divider>
    <nz-descriptions nzLayout="horizontal" *ngIf="ticket.status == 3">
      <nz-descriptions-item [nzTitle]="'Relato Técnico'" [nzSpan]="3"
        ><strong>{{ ticket.technicalReport }}</strong></nz-descriptions-item
      >
      <nz-descriptions-item [nzTitle]="'Fechado por'" [nzSpan]="1">{{
        ticket.closeBy
      }}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="'Fechamento'" [nzSpan]="1">{{
        ticket.closingDate
      }}</nz-descriptions-item>
    </nz-descriptions>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelViewTicket()">
      Voltar
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleTransferModal"
  nzTitle="Transferência de Chamado"
  (nzOnCancel)="onCloseTransferModal()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <div *nzModalContent>
    <p>Responsável Anterior:</p>
    <p>
      <strong>{{ responsible }}</strong>
    </p>

    <nz-divider></nz-divider>

    <form>
      <div class="row">
        <div class="col-12">
          <nz-form-item>
            <nz-form-label nzFor="user">Transferir para:</nz-form-label>
            <nz-form-control nzCompact nzHasFeedback>
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione um responsável"
                nzSize="large"
                id="user"
                [formControl]="newResponsible"
              >
                <nz-option
                  [nzLabel]="user.fullname"
                  [nzValue]="user"
                  *ngFor="let user of users"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="onConfirmTransfer()">
      Transferir
    </button>
  </div>
</nz-modal>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="drawerVisible"
  [nzPlacement]="'right'"
  [nzFooter]="footerTpl"
  nzTitle="Filtro de Chamados"
  (nzOnClose)="close()"
  [nzWidth]="450"
>
  <ng-container>
    <form nz-form *nzDrawerContent>
      <div class="row">
        <div class="col-12">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione um cliente" nzSize="large" [formControl]="clientControl">
            <nz-option [nzLabel]="option.nickname" [nzValue]="option" *ngFor="let option of clients"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione um responsável" nzSize="large" [formControl]="userControl">
            <nz-option [nzLabel]="option.fullname" [nzValue]="option" *ngFor="let option of users"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione um setor" nzSize="large" [formControl]="sectorControl">
            <nz-option [nzLabel]="option.description" [nzValue]="option" *ngFor="let option of sectors"></nz-option>
          </nz-select>
        </div>
      </div>
  <!--     <div class="row">
        <div class="col-12">
          <nz-range-picker [nzFormat]="'dd/MM/yyyy'" nzSize="large" [formControl]="periodControl"></nz-range-picker>
        </div>
      </div> -->
    </form>
  </ng-container>
</nz-drawer>

<ng-template #footerTpl>
  <div style="float: right">
    <button nz-button style="margin-right: 8px;" (click)="close()">Cancelar</button>
    <button nz-button nzType="primary" (click)="onFilter()">Filtrar</button>
  </div>
</ng-template>
