.row {
    margin: 15px 0 0 0;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

nz-card {
    width: calc(50% - 10px);
    border-radius: 5px;
}

.card-body {
    position: relative;
    min-height: 80px;
    font-weight: 400;
    font-size: 14px;
}

.card-footer {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.card-footer button {
    border-radius: 0px;
}

.card-info {
    line-height: 10px;
    color: #9e9e9e;
}

.search-area {
    position: relative;
    width: 100%;
}

nz-form-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content-area {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#description {
    text-align: justify;
}
