.login-form {
    min-width: 380px;
}

.login-form-margin {
    margin-bottom: 15px;
}

.login-form-forgot {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-button {
    width: 100%;
    height: 45px;
}

.panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel .panel-header {
    width: 380px;
    margin: 0 0 50px 0;
    display: flex;
    justify-content: flex-start;
}

.panel-header h2 {
    font-weight: 700;
    font-size: 25px;
}

nz-input-group {
  height: 50px;
}

input {
  padding: 0 0 0 50px;
}

/* #panelLogin {
    background: var(--gradient-violet);
} */

.panel-content {
    padding: 40px;
    background: #fff;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.container-login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #6730EC;
  background: -webkit-linear-gradient(bottom,#6730EC,#7984EE);
  background: -o-linear-gradient(bottom,#6730EC,#7984EE);
  background: -moz-linear-gradient(bottom,#6730EC,#7984EE);
  background: linear-gradient(bottom,#6730EC,#7984EE);
  opacity: .9;
}

