.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../../assets/img/background_login.jpg);
    transition: .35s linear;
}

.form-header {
    width: 100%;
    max-width: 400px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-header h2 {
    font-weight: 700;
}

.form-login {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fff;
}

.form-button {
    width: 100%;
}

.form-margin {
    margin: 10px 0;
}

.form-forgot {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    padding: 0 50px;
}

nz-form-control {
    width: 100%;
}

input {
    width: 100%;
}

@media (max-width: 450px) {
    .form-header {
        width: 100%;
        max-width: 270px;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: flex-start;
    }
    .form-login {
        width: calc(100% - 50px);
        height: 400px;
        margin: 25px;
    }
    form {
        width: 100%;
        padding: 0 20px;
    }
}
