<div class="row-content">
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/img/called_open.png" alt="">
    </div>
    <div class="card-body">
      <p>Chamados Abertos</p>
      <h2>15</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/img/called_done.png" alt="">
    </div>
    <div class="card-body">
      <p>Chamados Finalizados</p>
      <h2>253</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/img/called_total.png" alt="">
    </div>
    <div class="card-body">
      <p>Total de Chamados</p>
      <h2>268</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/img/client.png" alt="">
    </div>
    <div class="card-body">
      <p>Chamados Abertos</p>
      <h2>15</h2>
    </div>
  </div>
</div>

