<div class="cards">
    <app-card-dashboard image="./assets/icon/file_analytics.svg" title="50" description="Chamados Abertos"></app-card-dashboard>
    <app-card-dashboard image="./assets/icon/file_check.svg" title="356" description="Chamados Finalizados"></app-card-dashboard>
    <app-card-dashboard image="./assets/icon/file_report.svg" title="50" description="Total de Chamados"></app-card-dashboard>
    <app-card-dashboard image="./assets/icon/users.svg" title="{{clientCount}}" description="Clientes"></app-card-dashboard>
</div>
