.card {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    background: #fff;
    transition: .35s linear;
}

.card .card-icon {
    width: 60px;
    height: 60px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--primary);
}

.card .card-body {
    width: calc(100% - 120px);
    height: 100%;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.card .card-body h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 12px;
}

.card .card-body p {
    line-height: 12px;
}

@media (max-width: 1180px) {
    .card .card-body {
        width: calc(100% - 60px);
    }
}
