<div class="content">
    <form [formGroup]="keyForm" nz-form class="client-form">
        <div class="row">
            <div class="col-12">
                <nz-form-item>
                    <nz-form-label nzFor="client">Cliente</nz-form-label>
                    <nz-form-control nzCompact nzHasFeedback>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione um cliente" nzSize="large" formControlName="document">
                            <nz-option [nzLabel]="client.fullname + ' - ' + client.document" [nzValue]="client.document" *ngFor="let client of clients"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label nzFor="month">Mês</nz-form-label>
                    <nz-form-control nzCompact nzHasFeedback>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione um cliente" nzSize="large" formControlName="month">
                            <nz-option [nzLabel]="month.value" [nzValue]="month.value" id="month" *ngFor="let month of months" (nzOnOpenChange)="onChange($event)"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label nzFor="year">Ano</nz-form-label>
                    <nz-form-control nzCompact>
                        <nz-date-picker nzMode="year" nzSize="large" id="year" [nzPlaceHolder]="'Selecione o ano'" formControlName="year"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="action-form">
            <button nz-button nzType="default" nzSize="large" (click)="onBackToLocation()">
        Voltar
      </button>
            <button nz-button nzType="primary" nzSize="large" (click)="onGenerateKey()">
        Gerar chave
      </button>
        </div>
    </form>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Chave de Liberação">
    <ng-container *nzModalContent>
        <div class="key-content">
            <p>Sua chave de liberação é:</p>
            <h2>{{key}}</h2>
        </div>
    </ng-container>
</nz-modal>
