:root {
    --dark-violet: #6730EC;
    --light-violet: #7984EE;
    --gradient-violet: linear-gradient(180deg, #7984EE 0%, #6730EC 100%);
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}