.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

nz-layout {
    width: 100%;
    height: 100%;
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 15px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    height: 100%;
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

.inner-content h2 {
  margin: 0 0 20px 20px;
  font-weight: 700;
  font-size: 25px;
}

nz-footer {
    text-align: center;
}
