<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item routerLink="home" routerLinkActive="active-route">
                <i nz-icon nzType="home"></i>
                <span>Ínicio</span>
            </li>
            <li nz-menu-item routerLink="client" routerLinkActive="active-route">
                <i nz-icon nzType="team"></i>
                <span>Clientes</span>
            </li>
            <li nz-menu-item routerLink="contract" routerLinkActive="active-route" *ngIf="
      user.profiles.includes('ADMINISTRADOR') ||
      user.profiles.includes('ATENDENTE')
    ">
                <i nz-icon nzType="file" nzTheme="outline"></i>
                <span>Contratos</span>
            </li>
            <li nz-menu-item routerLink="sector" routerLinkActive="active-route" *ngIf="
      user.profiles.includes('ADMINISTRADOR') ||
      user.profiles.includes('ATENDENTE')
    ">
                <i nz-icon nzType="snippets" nzTheme="outline"></i>
                <span>Setores</span>
            </li>
            <li nz-menu-item routerLink="ticket" routerLinkActive="active-route">
                <i nz-icon nzType="clock-circle"></i>
                <span>Chamados</span>
            </li>
            <li nz-menu-item routerLink="category" routerLinkActive="active-route">
                <i nz-icon nzType="appstore"></i>
                <span>Categorias</span>
            </li>
            <li nz-menu-item routerLink="knowledge" routerLinkActive="active-route">
                <i nz-icon nzType="container" nzTheme="outline"></i>
                <span>Base de Conhec.</span>
            </li>
            <li nz-menu-item routerLink="key" routerLinkActive="active-route" *ngIf="
            user.profiles.includes('ADMINISTRADOR') ||
            user.profiles.includes('ATENDENTE')
          ">
                <i nz-icon nzType="unlock" nzTheme="outline"></i>
                <span>Liberação</span>
            </li>
            <li nz-menu-item routerLink="user" routerLinkActive="active-route">
                <i nz-icon nzType="download"></i>
                <span>Downloads</span>
            </li>
            <li nz-menu-item routerLink="user" routerLinkActive="active-route" *ngIf="
      user.profiles.includes('ADMINISTRADOR') || user.profiles.includes('ATENDENTE')">
                <i nz-icon nzType="user"></i>
                <span>Usuários</span>
            </li>
            <li nz-menu-item (click)="showLogoutConfirm()">
                <i nz-icon nzType="logout"></i>
                <span>Sair</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div id="welcome">
                <i class="trigger" nz-icon [nzType]="false ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
            </div>
            <div id="user">
                <p>{{user.fullname}}</p>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item>Meus Dados</li>
                        <li nz-menu-item>Alterar Senha</li>
                        <li nz-menu-item>Sair</li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>&copy; Todos os direitos reservados a Upper Soluções</nz-footer>
    </nz-layout>
</nz-layout>
